In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. *One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.


# OPTIONAL PART | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


## Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [26]:
# 1. One tailed t-test
data = pd.read_csv('machine.txt', sep='\t')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [27]:
data.columns = data.columns.str.replace('    ','')
data.columns = data.columns.str.replace(' ','_')
data.columns= data.columns.str.lower()

In [28]:
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [31]:
data['new_machine'].mean()

42.14

In [32]:
data['old_machine'].mean()

43.230000000000004

In [ ]:
# H0: new machine mean time >= old machine mean time 43.23 sec 
# H1: new machine mean time < old machine mean time 43.23 sec

In [44]:
print('p value (single tailed): ',st.ttest_1samp(data['new_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

In [ ]:
# H0 can be recjected

In [45]:
# 2. Matched Pairs Test

data = pd.read_csv('pokemon.csv')
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [48]:
data.columns = data.columns.str.replace(' ','_')
data.columns= data.columns.str.lower()

In [50]:
pkmn = data[['attack', 'defense']]
pkmn

     attack  defense
0        49       49
1        62       63
2        82       83
3       100      123
4        52       43
..      ...      ...
795     100      150
796     160      110
797     110       60
798     160       60
799     110      120

[800 rows x 2 columns]

In [ ]:
# H0: attack = defense
# H1: attack != defense

In [51]:
st.ttest_rel(pkmn['attack'], pkmn['defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# H0 can be recjected

In [ ]:
# Optional:
# Part 1 + 2

In [63]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [64]:
data.columns = data.columns.str.replace(' ','_')
data.columns= data.columns.str.lower()

In [65]:
data['power_count'] = data.groupby('power_').cumcount()

data_pivot = data.pivot(index='power_count', columns='power_', values='etching_rate')
data_pivot.columns = ['power_'+str(x) for x in data_pivot.columns.values]

In [66]:
data_pivot.columns = data_pivot.columns.str.replace(' ','_')
data_pivot.columns= data_pivot.columns.str.lower()

In [77]:
data_pivot

             power_160_w  power_180_w  power_200_w
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [ ]:
# H0 for ANOVA is always that the means of the various groups are the same
# H1 the means of the various groups are not the same

In [68]:
st.f_oneway(data_pivot['power_160_w'],data_pivot['power_180_w'],data_pivot['power_200_w'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [69]:
data_pivot.mean()

power_160_w    5.792
power_180_w    6.238
power_200_w    8.318
dtype: float64

In [ ]:
# H0 can be recjected

In [74]:
# DoF = 3-1
# because 3 categories/columns - 1 beacsue this
degrees_freedom = len(data_pivot.columns) - 1
degrees_freedom

2

In [89]:
# error_term: ?

In [ ]:
# total DoF = 3
# because 3 categories/columns